<div class="container__card">

  <div class="card__photo">
    <img src="{{ photo }}" alt="{{ photo }}">
  </div>

  <div class="card__name">
    <h3> {{ name }}</h3>
  </div>

  <div class="card__bio" target="_blank">
    <span>
      <a href="{{ linkedin }}">
        <img alt="Ícone para rede social do LinkedIn" height="30" width="40" src="{{ socialIcons.linkedin  }}">
      </a>
    </span>
    <span>
      <a href="{{ github }}" target="_blank">
        <img alt="Ícone para rede social do Github" height="30" width="40" src="{{ socialIcons.github }}">
      </a>
    </span>
  </div>

</div>
